body
{
	background: url("/image/poolBackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main
{
	padding-top: 3.5rem;
}

img
{
	width: 100%;
}

.content
{
	font-size: 1.25rem;
}

.blurry .container
{
	align-self: center;
	background-color: white;
    height: auto;
    border-radius: 1.5rem;
    background: inherit;
    backdrop-filter: blur(0.5rem);
}

.logo
{
	background: url("/image/crystalBlueWater.jpg") no-repeat center center;
	font-family: 'Stardos Stencil', cursive;
	font-size: 6.25rem;
	-webkit-text-fill-color: #FFFFFF;
	-webkit-text-stroke-color: #000000;
	-webkit-text-stroke-width: 2px;
}

.outerpanel
{
	text-align: center;
}

.innerpanel
{
	box-shadow: 0 0 0.25rem 0;
    background: inherit;
    backdrop-filter: blur(0.5rem);
    border-radius: 1.5rem;
}

.ragelink
{
	font-size: 3rem;
}

/* FUBAR BOOTSTRAP */
.navbar
{
    background: inherit;
    backdrop-filter: blur(0.5rem);
	box-shadow: 0 0 0.25rem 0;
}

.rounded-bottom
{
	border-bottom-left-radius: 2.5rem!important;
	border-bottom-right-radius: 2.5rem!important;
}

.rounded-top
{
	border-top-left-radius: 1.5rem!important;
	border-top-right-radius: 1.5rem!important;
}