<nav class="navbar navbar-expand-lg navbar-light" th:fragment="nav">
	<a class="navbar-brand" th:href="@{/}" th:text="${activePage} ? 'Shiny Pools - ' + ${activePage} : 'Shiny Pools'">Shiny Pools</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li th:class="${activePage == 'Index'} ? 'nav-item active' : 'nav-item'">
				<a class="nav-link" th:href="@{/}">Index</a>
			</li>
			<li th:class="${activePage == 'Services'} ? 'nav-item active' : 'nav-item'">
				<a class="nav-link" th:href="@{/services}">Services</a>
			</li>
			<li th:class="${activePage == 'About'} ? 'nav-item active' : 'nav-item'">
				<a class="nav-link" th:href="@{/about}">About</a>
			</li>
		</ul>
	</div>
</nav>