<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<!-- Head -->
	<div th:replace="~{fragments/head :: head}"></div>
	<body>
		<!-- Header -->
		<header class="fixed-top">
			<!-- Nav -->
			<div th:replace="~{fragments/nav :: nav}"></div>
		</header>
		<!-- Main -->
		<main class="blurry container">
			<div class="outerpanel py-4">
				<div class="innerpanel">
					<div class="pt-4"></div>
					<!--
					<ul class="list-unstyled rounded-bottom px-4 pb-4">
						<li><a th:href="@{/closing}">Pool Closing</a></li>
						<li><a href="#">Weekly Pool Maintenance</a></li>
						<li><a href="#">Pool Opening</a></li>
						<li><a href="#">Pool Cleaning</a></li>
					</ul>
					-->
					<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdAjcNId1o9z85yZkg2var3CFUMAWD1KS5yZQ7ylZmWdxjkNQ/viewform?embedded=true" width="100%" height="2200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
				</div>
			</div>
		</main>
		<!-- Footer -->
		<div th:replace="~{fragments/footer :: footer}"></div>
		<!-- Script Imports -->
		<div th:replace="~{fragments/script_imports :: script_imports}"></div>
	</body>
</html>